@font-face {
    font-family: hihi;
    src: url(./GERALDINE\ PERSONAL\ USE.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

/* h1{
    background-color:rgb(234, 138, 191) ;
    font-size: 50px;
    font-family: hihi;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
} */

div{
    height:200px;
    width: 200px;
    /* background:linear-gradient(yellow,pink,blue); */
    background: radial-gradient( yellow, pink, blue);
    /* background: conic-gradient(  yellow, pink, yellow); */

    /* for image: */
    /* background: url(./images.jpg) no-repeat center/cover; */
    /* background-size: cover; */
    background-position: center;
}