*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#hero{
    /* id call */
    color: green;
    background-color: rgb(219, 148, 148);
}

h1{
    color: red;
}

#villian{
    background-color: rgb(231, 246, 155);
}

.king{
    font-family:cursive
}

#box{
    width: 200px;
    height: 200px;
    background-color: rgb(155, 246, 155);
    /* margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px; */
    margin: 50px;
    padding: 20px;
    border: 5px solid rgb(15, 14, 14);
    border-radius: 20px;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: blue;
    /* padding: 20px; */
}

button{
    margin:50px;
    padding:10px 20px;
    background-color:rgb(19, 51, 147);
    color: white;
    border: 2px solid rgb(244, 156, 244);
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    transition:all 0.5s ease;
    /* cubic-bezier */
}

button:hover{
    background-color:white;
    color: rgb(19, 51, 147);
}

/* button:active{
    /* active works when click it hover not on touching it */
    /* transform: scale(0.95); */
/* }  */

#box1{
    height: 200px;
    width: 200px;
    background-color: rgb(168, 55, 153);
    position:absolute;
    left:50%;
    top:400px;
    z-index: 1;
     /* z-index se element ko upar niche kar sakte h */
}

#box2{
    height: 200px;
    width: 200px;
    background-color: rgb(141, 105, 54);
    position:absolute;
    /* abosulte se ele hawa m ajata h yah upper uth jata h */
    left: 400px;
    top: 300px;
}

.box3{
    height: 200px;
    width: 200px;
    background-color: rgb(54, 141, 54);
    transform:translateX(59%);
    /* ye box apni original position se 59% right chala jayega 
    agar backward m jna h toh translateX(-59%) 
    agar vertically krna h toh translateY() */
}